@import url("./css/header.css");
@import url("./css/offer.css");
@import url("./css/hero-banner.css");
@import url("variable.css");
@import url("./css/all.css");
@import url("./css/feature.css");
@import url("./css/tiles.css");
@import url("./aem/aem.css");
@import url("./css/letter.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1130px;
  padding: 0 20px;
  margin: auto;
  position: relative;
  width: 100%;
}
section {
  padding: 40px 0;
}

.wrapper {
  padding: 10px 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.input-box {
  width: calc(100% - 130px);
  height: 40px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid;
}

@media screen and (max-width: 768px) {
  section {
    padding: 20px 0;
  }
}
